body {
    background-color: black;
    text-align: center;
    padding: 50px;
    font-family: "Verdana", sans-serif;
    color: white;
}

p {
    font-size: 21px;
    color: gray;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

a, a:visited, a:active {
    color: aquamarine !important;
    font-size: 16px;
}

.copyright {
    text-align: right;
    font-color: gray;
}